main .form-control
{
    display: inline-block;
    width: auto;
}
h3 h5
{
    width: auto;
}
img
{
    height: 40px;
    width: 40px;
}
main
{
    text-align: center;
}

#picture
{
    height:27px;
    display: block;
    margin: 1px;
}
#weather-data
{
    text-align:left;
    background-color:#def3c5;
    width: 50%;
}
#header
{
    height:24px;
    margin-bottom: -5px;
}