main .form-control
{
    display: inline-block;
    width: auto;
}
h3 h5
{
    width: auto;
}
img
{
    height: 40px;
    width: 40px;
}
main
{
    text-align: center;
}

#picture
{
    height:27px;
    display: block;
    margin: 1px;
    overflow: hidden;
}
#weather-data
{
    background-color:#def3c5;
    width: 450px;
    height: 200px;
}
#weather-data2
{
    background-color:#def3c5;
    width: 150px;
    margin: 10px;
    font-size: larger;
}
#header
{
    width: 400px;
    height: 24px;
    margin-bottom: -5px;
    overflow: hidden;
}

.folium-map
{
    width: 400px;
    height: 400px;
}
.center
{
    margin-top: 100px;
  position: absolute;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.col-sm
{
    margin-bottom: 15px;
}