{% extends "layout.html" %}

{% block title %}
   index
{% endblock %}

{% block main %}


<table class="table">
     <tr>
            <th>Name</td>
            <th>Weather condition</td>
            <th>Temperature</td>
            <th>Date and Time</th>

        </tr>
{% set count = 0 %}
{% for sumhistories in sumHistory %}


<tr>
    <td>{{sumhistories["name"]}}</td>
    <td>{{sumhistories["weather"][0]["description"]}} </td>
    <td> {{sumhistories["main"]["temp"]}}°C</td>
    <td>{{history[loop.index-1]["time"]}}</td>
    <form action="/" method="POST">
    <td><button type="submit" class="btn btn-info" name="info" value={{sumhistories["id"]}}>More Info</button></td>
    </form>
</tr>

{% endfor %}



</table>
<div class ="center">
    <h6>Weatherapp50 <img src="static/heisses-wetter.png"></h6>
</div>
{% endblock %}