{% extends "layout.html" %}

{%block title %} Weatherapp {% endblock %}

{% block main %}



<div class="container" id="weather-data">
<h2>Weather data:</h2>
<h5>
    <p id="header">Current weather data for: {{result["name"]}}</p>
    <p id="picture">Weather conditions: {{result["weather"][0]["description"]}} <img src={{url+result["weather"][0]["icon"]+"@2x.png"}}>
     </p>
     <p>Current Temperature: {{result["main"]["temp"]}}°C<br>
     Sunrise: {{sunrise}} AM<br>
     Sunset: {{sunset}} PM</p>


Temperature: {{result["main"]["temp"]}}°C
Sunrise: {{sunrise}} AM
Sunset: {{sunset}} PM</h5>
</div>
<footer>
    <p>Usable data: <br>
         {{result}}
    </p>
<h6>Weatherapp50 <img src="static/heisses-wetter.png"></h6>
</footer>


{% endblock %}