{% extends "layout.html" %}

{% block title %}
   index
{% endblock %}

{% block main %}
        <div class="form-group">
<h3>Welcome to the Weatherapp50 <img src="static/heisses-wetter.png"></h3>

<h5>Look for the current Weather in a location below</h5>

</div>
     <div class="form-group">
<form action="/" method="POST">
    <input type = "text" autocomplete="off" class="form-control" name="location" placeholder="Location">
    </div>

    <button class="btn btn-primary"  type="submit">Search</button>
</form>

{% endblock %}