{% extends "layout.html" %}

{%block title %} Weatherapp {% endblock %}
{%block head %}
 <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
    {%endblock%}
{% block body %}



<div class="container">
    <div class="row">
        <div class="col-sm" id="weather-data">
        <h2>Weather data:</h2>
        <h5>
            <p id="header">Current weather data for: {{result["name"]}}</p>
            <p id="picture">Weather conditions: {{result["weather"][0]["description"]}} <img src={{url+result["weather"][0]["icon"]+"@2x.png"}}>
             </p>
             <p>Current Temperature: {{result["main"]["temp"]}}°C<br>
             Sunrise: {{sunrise}} AM<br>
             Sunset: {{sunset}} PM <br>
             Current Time: {{timezone}} {{dayAndNight}}
            </p>
            <div class="col text-center">
            <form action="/" method="GET">
                   <button id="lower" class="btn btn-primary"  type="submit">Look for more Weather data</button>
               </form>
               </div>
        </h5>

        </div>

        <div class="col-sm">
             <iframe class="map", src={{"/map/" + result["id"]|string}} width="500" height="500"></iframe>
        </div>

    </div>
        <div class ="center" >
              <h6>Weatherapp50 <img src="static/heisses-wetter.png"></h6>
        </div>

</div>



{% endblock %}